@import "global.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  // background-color: #efeded;
}

.body-section {
  min-height: 85vh;
  @media (max-width: 768px) {
    padding: 0 0 30px 0;
  }
}
