@import "global.scss";
.border-bottom {
  border-bottom: 1px solid #d0d0d0;
}

.password-generator-length {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.password-generator-length-value {
  width: 25px;
}
